[submodule "BaseBin/ChOma"]
	path = BaseBin/ChOma
	url = https://github.com/opa334/ChOma
[submodule "BaseBin/XPF"]
	path = BaseBin/XPF
	url = https://github.com/roothide/XPF
[submodule "BaseBin/opainject"]
	path = BaseBin/opainject
	url = https://github.com/opa334/opainject
